body {
	background-color: #9932CC;
	color: #DA70D6;
	padding: 0;
	margin: 0;
}

header {
	text-align: center;
	padding: 5px 0;
	font-size: 40px;
	background-image: url("3D Purple Wallpapers.jpg");
}

.main-content-wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	padding: 50px;
}

footer p {
	text-align: center;
	background-image: url("3D Purple Wallpapers.jpg");
}

ul {
	padding-left: 0;
}

p {
	border-style: solid;
	border-width: 3px;
	border-color: #CC00FF;
	border-radius: 10px;
	font-size: 18px;
	border-right-width: 200px;
	border-left-width: 200px;
	background-image: url("3D Purple Wallpapers.jpg");

}

img {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-size: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #CC00FF;
	border-right-width: 200px;
	border-left-width: 200px;
	border-radius: 10px;
	background-image: url("3D Purple Wallpapers.jpg");
}

div {
	text-align: center;
}

h3 {
	font-size: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #CC00FF;
	border-right-width: 200px;
	border-left-width: 200px;
	border-radius: 10px;
	background-image: url("3D Purple Wallpapers.jpg");	
}

footer ul li {
	text-align: center;
}